.p-scrollpanel.orgPositionsScroll .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-ground);
}

.p-scrollpanel.orgPositionsScroll .p-scrollpanel-bar {
    background-color: var(--primary-300);
    opacity: 1;
    transition: background-color .3s;
}

.p-scrollpanel.orgPositionsScroll .p-scrollpanel-bar:hover {
    background-color: var(--primary-400);
}

.p-scrollpanel.totalEmployee-scroll .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-ground);
}

.p-scrollpanel.totalEmployee-scroll .p-scrollpanel-bar {
    background-color: var(--primary-300);
    opacity: 1;
    transition: background-color .3s;
}

.p-scrollpanel.totalEmployee-scroll .p-scrollpanel-bar:hover {
    background-color: var(--primary-400);
}
.p-image-preview-container > img{
    border-radius: 50% !important;
}
.profilePic{
    aspect-ratio: 1 / 1;
}

.p-overlaypanel.datepicker  .p-overlaypanel-content {
    padding: 0rem !important;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

.p-timeline-event-content {
  flex: none;
}
.progress-pos :where(.p-timeline-event) {
  margin-right: 10vw;
}


.p-accordion-header-text{
  width: 100%;
}
.invalid-border{
  border-left: 3px solid #FF0000 ;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
}
.valid-border{
  border-left: 3px solid #6366F1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.quill {
 max-height: 80vh !important;
}
.ql-container {
  min-height: 30vh !important;
}